@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    height: 2150px;
    font-family:  "Open Sans", sans-serif;
    text-align: left;
    font-weight: 400;
}
.link{
    text-decoration: none;
    color: #555555;
    font-size: 18px;
    text-align: center;
}
.title{
    padding-top: 10%;
    font-size: 48px;
    line-height: 64px;
    color: rgba(17, 17, 17, 1)
}
.resumo{
    font-size: 16px;
    line-height: 28px;
}
.info{
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
}
.update{
    font-size: 11px;
    line-height: 16.34px;
    padding: 5px;
    padding-left: 0%;
}
.div1{
    position:absolute; 
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteudo{
    width: 630px;
    height: 50px;
    top: 620px;
    left: 375px;
    font-size: 19px;
    line-height: 32px;
    position:absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.lista{
    font-size:18px;
    font-weight: 700;
    color: #A6130A;
}
.elemento1{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.citacao{
    color: #333333;
    font-size: 27px;
    font-weight: 600px;
    line-height: 36px;
    padding-left: 10px;
    border-left: 3px solid #A6130A;
}